tr {
  text-align: center;
}
td a {
  color: white;
  background-color: #0724B2;
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 20px;
  margin-left: 15px;
}
td a:hover {
  text-decoration: none;
  color: white;
}
thead {
  color: white;
}
table {
  display: block;
  overflow: auto;
}

tbody {
  display: block;
  max-height: 80vh;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; 
}
tbody::-webkit-scrollbar {
  width: 6px;
}

tbody::-webkit-scrollbar-thumb {
background: var(--gray);
}
.row {
  margin-left: 0;
}

#right-side {
  height: 100vh;
  overflow: scroll;
}