extends ../layouts/common-except.pug



block content 
  .container 
    form#form-register.rounded(action="/identification/register", method="POST")
      h2.text-success.text.font-weight-bold Register
      if msg 
        .alert.alert-warning #{msg}
      .form-group
        label(for='name') Name
        input#name.form-control(type='text' name="name" placeholder='Enter name')
      .form-group
        label(for='email') Email address
        input#email.form-control(type='email' name="email" aria-describedby='emailHelp' placeholder='Enter email')
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
      button.btn.btn-success(type='submit') Register
      button.btn.btn-success.ml-5#qualify Back
